body, div, li, td, th, dd, font, select, input, span, p	{ font-family:	arial, helvetica, verdana, sans-serif; font-size: 90%; color: #333333; list-style-type: square; }

h1, h2, h3, h4 {font-family: ; }

h3 { color: #333333;font-size: 110%;}

h4 { color: #333333;font-size: 100%;}

li  { color:#333333;  font-size:90%; margin-bottom: 5px; margin-left: 0px; margin-right: 0px; margin-top: 5px;line-height:100%;}

span.hilite { color: #CC0000;}

td.reqfield { color: #CC0000;}

p { margin-left: 0px;line-height:150%; text-align:left;}

p.block { margin-left: 40px; }

p.cite { margin-left: 40px;line-height:100%;font-size:85% }

p.subnav { font-family:	arial, helvetica, verdana, sans-serif; font-size: 80%; color: #333333; line-height: 125%; text-align:center;}

a:link  { color:#666666;   text-decoration:underline; }

a:visited  { color:#666666;  text-decoration:underline; }

a:hover  { color:#CC0000;   text-decoration:none; }

a:active  { color:#CC0000;   text-decoration:underline; }

a:link.subnav  { color:#666666;   text-decoration:none; }

a:visited.subnav  { color:#666666;  text-decoration:none; }

a:hover.subnav  { color:#CC0000;   text-decoration:underline; }

a:active.subnav  { color:#CC0000;   text-decoration:underline;}
.photopub {
	margin-right: 15px;
	margin-bottom: 15px;
}